@if (isLoading()) {
  <app-cards-list-skeleton />
} @else if (error() !== undefined) {
  <app-collection-fetch-error
    [label]="'collection.cards_fetch_failed' | translate"
    [buttonText]="'collection.cards_fetch_failed_button' | translate"
    (tryAgainClicked)="tryAgainClicked.emit()" />
} @else {
  <app-cards-list
    [cardsLoadingMap]="cardsLoadingMap()"
    [nonExistentCardsMap]="nonExistentCardsMap()"
    [cardsList]="cards()"
    (cardCheckboxClicked)="cardStatusUpdated.emit($event)" />
}
