<div class="tw-flex tw-flex-wrap tw-justify-around">
  @for (card of cardsPlacesToRender(); let i = $index; track trackByCardId(i + 1)) {
    @let cardNumber = i + 1;
    @let existentCard = existentCardsByNumbersMap()[cardNumber];

    @if (existentCard !== undefined) {
      <app-card
        class="tw-py-2"
        [card]="existentCard"
        [isLoading]="cardsLoadingMap()[existentCard.id]"
        (clickCheckbox)="handleCheckboxClick(existentCard)" />
    } @else {
      <app-non-existent-card
        class="tw-py-2"
        [card]="nonExistentCardsMap()![cardNumber]"
        (clickCard)="handleNonExistentCardClick()" />
    }
  } @empty {
    <div class="tw-flex tw-justify-center tw-w-max tw-py-2">
      <p>{{ 'collection.cards_not_found.message' | translate }}</p>
    </div>
  }
</div>
