<div class="ion-page">
  <ion-header>
    <ion-toolbar class="!tw-py-2 tw-px-4">
      <ion-searchbar
        #cardsSearchbar
        slot="start"
        class="collection-searchbar !tw-min-h-0 !tw-p-0 tw-mr-4 tw-rounded tw-border-2"
        type="text"
        show-clear-button="always"
        clear-icon="close-circle-outline"
        [disabled]="!isCollectionDataLoadedSuccessfully()"
        [debounce]="300"
        [placeholder]="'collection.search_bar.placeholder' | translate"
        (ionInput)="handleSearchValueChange($event)" />

      <ion-buttons slot="end">
        <ion-menu-toggle menu="collection-settings-menu" class="tw-text-2xl">
          <ion-button class="app-icon-button">
            <ion-icon name="settings-outline" slot="icon-only" />
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  @if(canDisplayGlobalProgressBar()){
  <app-progress-bar
    label="progress_bar.global_progress.label"
    [isLoading]="isCollectionInfoLoading()"
    [maxValue]="cardsTotal()!"
    [currentValue]="cardsCollected()!"
    [displayMode]="globalProgressDisplayMode()" />
  }

  <app-mark-all-as-collected-button
    [isLoading]="isLoadingCollectionRequiredData()"
    [class.tw-invisible]="shouldHideMarkAllAsCollected()"
    [disabled]="isCardsUpdateInProgress()"
    (clicked)="markAllAsCollected(cardsForCurrentRarity)" />

  <ion-content>
    @if (this.collectionInfoError()) {
    <app-collection-fetch-error
      [label]="'collection.info_fetch_failed' | translate"
      [buttonText]="'collection.info_fetch_failed_button' | translate"
      (tryAgainClicked)="reFetchCollectionInfo()" />
    } @else if (cardsSearchbar.value) {
    <app-search-cards-view
      [isLoading]="isSearchCardsLoading()"
      [cardsLoadingMap]="cardsLoadingMap()"
      [cards]="searchCards()"
      (cardStatusUpdated)="updateCardStatus($event)" />
    } @else if (isImageDisplayMode()){
    <app-collection-cards-view
      [error]="collectionCardsError()"
      [isLoading]="isLoadingCollectionRequiredData()"
      [cardsLoadingMap]="cardsLoadingMap()"
      [cards]="cardsForCurrentRarity"
      (cardStatusUpdated)="updateCardStatus($event)"
      (tryAgainClicked)="reFetchCardsByRarity()" />
    } @else {
    <app-chips-view
      [error]="collectionCardsError()"
      [isLoading]="isLoadingCollectionRequiredData()"
      [cardsLoadingMap]="cardsLoadingMap()"
      [cards]="cardsForCurrentRarity"
      (cardStatusUpdated)="updateCardStatus($event)"
      (tryAgainClicked)="reFetchCardsByRarity()" />
    }
  </ion-content>

  @if(canDisplayRarityProgressBar()){
  <app-progress-bar
    label="progress_bar.rarity_progress.label"
    [isLoading]="isLoadingCollectionRequiredData()"
    [maxValue]="cardsForCurrentRarity.length"
    [currentValue]="currentRarityCollectedCardsAmount"
    [displayMode]="rarityProgressDisplayMode()" />
  } @if (this.collectionInfoError() === undefined) {
  <app-rarity-slider
    [rarities]="rarities()!"
    [isLoading]="isCollectionInfoLoading()"
    [selectedRarity]="cardsSearchbar.value ? undefined : selectedRarity()"
    (selectRarity)="handleSelectRarity($event)" />
  }
</div>
